.logo {
  height: 70px;
  width: 70px;
}
.clsdlogo {
  height: 150px;
  width: 150px;
}
.banner {
  height: auto%;
  width: 75%;
}


.footerlogo {
  height: 70px;
  width: 70px;
}


.logo1 {
  height: 400px;
  width: 400px;
}



.clsd {
  height: 400px;
  width: 800;
}



.footerlogo {
  height: 70px;
  width: 70px;
}

.subfooterlogo {
  height: 120px;
  width:120px;
}
